<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sobey.module.stationMsg.mapper.MallMsgMapper">

    <update id="updateMsgStatus">
        update mall_msg set msgStatus=#{msgStatus}
        where uuid in (
        <foreach collection="uuids" item="uuid" separator=",">
            #{uuid}
        </foreach>
        )
    </update>

    <delete id="deleteMsg">
        delete from mall_msg where uuid in(
        <foreach collection="uuids" item="uuid" separator=",">
            #{uuid}
        </foreach>
        )
    </delete>

    <select id="pages" parameterType="com.sobey.module.stationMsg.model.MallMsg" resultType="com.sobey.module.stationMsg.model.MallMsg">
        select * from mall_msg
        <where>
            <if test="accountId != null and accountId != ''">and accountId = #{accountId}</if>
            <if test="msgStatus != null and msgStatus != ''">and msgStatus = #{msgStatus}</if>
        </where>
        order by createTime desc
    </select>

</mapper>